@media screen and (max-aspect-ratio: 2/3) {
    h1 {
        font-size: 215%;
    }

    h2 {
        font-size: 170%;
    }

    h3 {
        font-size: 130%;
    }

    #header{
        #logo {
            margin-bottom: 1em;
        }
    }

    #sekcja1 {
        padding-bottom: 0;
    }

    #sekcja2 {
        padding-bottom: 0;
    }

    #sekcja4 {
        background-color: var(--gray);
    }

    .sekcja {
        padding: 10vmin;
        img {
            width: 100%;
            height: auto;
            margin-top: 2em;
        }
    }

    .button {
        font-size: 90%;
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
