@media screen and (min-aspect-ratio: 2/3) and (max-aspect-ratio: 3/2) {
    body {
        overflow-x: hidden;
    }
    h1 {
        font-size: 260%;
    }

    h2 {
        font-size: 170%;
    }

    h3 {
        font-size: 130%;
    }

    #header{
        #logo {
            margin-left: 2em;
        }
    }

    #sekcja1, #sekcja2 {
        width: 150%;
        .column {
            padding-right: 0;
        }
    }

    #sekcja3 {
        flex-direction: column;
        .column {
            width: 100%;
        }
        img {
            width: 100%;
            padding: 0 4em;
            box-sizing: border-box;
            align-self: auto;
        }
    }

    #sekcja4 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .button + .button {
        margin-left: 2em;
    }

    .sekcja {
        display: flex;
        flex-direction: row;
        img {
            align-self: flex-end;
            width: 60%;
            transform-origin: bottom left;
            // transform: scale(2);

        }
    }

    .column {
      width: 40%;
      padding: 4em;
    }

    .contact-box {
        margin: 4em;
        box-sizing: content-box;
        padding: 3em;
        background-color: var(--gray);
    }

}
